body {
	font-family: Arial, Helvetica, sans-serif;
}

.view-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.keys-container {
	display: flex;
	align-items: center;
	padding-bottom: 4rem;
}

.title-container > h1 {
	color: black;
	border: 2px solid blue;
	border-radius: 5px;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.8);
}

.key {
	margin: 1rem;
	height: 50px;
	width: 50px;
	text-align: center;
	border: 2px solid gold;
	border-radius: 5px;
	align-items: center;
	line-height: 3rem;
	background: rgba(255, 255, 255, 0.8);
	transition: all .05s;
	font-size: larger;
}

.key.playing {
	transform: scale(1.25)
}

body {
	background-color: black;
	background-image: url(./images/village.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -9%;
}
